<%- include("./partials/header") %>
<div class="container">
  <div class="d-flex justify-content-between my-5">
    <h3>Notes</h3>
    <a href="/addnote" class="btn btn-primary">Add new note</a>
  </div>

  <div class="">
    <% if (notes.length > 0) { %>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% notes.forEach(note => { %>
        <tr>
          <th scope="row">#</th>
          <td><%= note.title %></td>
          <td><%= note.desc %></td>
          <td>
            <a href="/note/<%= note.id %>">Edit Note</a> |
            <a href="/note/delete/<%= note.id %>">Delete Note</a>
          </td>
        </tr>

        <% }) %>
      </tbody>
    </table>
    <% } else { %>
    <div class="alert alert-warning" role="alert">No Data!</div>
    <% } %>
  </div>
</div>
