<%- include('./partials/header') %>
<div class="container my-5">
  <h3>Update <%= note.title %></h3>
  <form action="/note/edit/<%= note.id %>?_method=PUT" method="POST">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Note Title</label>
      <input
        type="text"
        class="form-control"
        name="title"
        value="<%= note.title %>"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label"
        >Note Description</label
      >
      <input
        type="text"
        class="form-control"
        name="desc"
        value="<%= note.desc %>"
      />
    </div>

    <button type="submit" class="btn btn-primary">update note</button>
  </form>
</div>
